@font-face {
  font-family: GidoleRegular;
  src: url(res/Gidole-Regular.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: GidoleRegular;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
}

.topbar {
  background-color: #181818;
  display: table;
  width: 100%;
}

.topbartitle {
  display: table-cell;
  padding: 5px;
  font-size: 21px;
}

.devicesbtn {
  text-align: right;
  padding: 10px;
  float: top;
  overflow: hidden;
}

.samsunglogo {
  text-align: center;
}

.img {
  width: 40%;
  height: 40%;
  padding: 25px;
}

.desctext {
  text-align: center;
  margin: 0px;
  padding: 40px;
}